name: Build & Deploy App via GHCR

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:

  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      # ------------------------------
      # Backend Build
      # ------------------------------
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"

      - name: Build Backend
        run: mvn -B -DskipTests=true clean package
        working-directory: backend

      # ------------------------------
      # Frontend Build
      # ------------------------------
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # ------------------------------
      # Login to GHCR
      # ------------------------------
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}

      # ------------------------------
      # Lowercase Repo Owner for GHCR
      # ------------------------------
      - name: Set lowercase repo owner
        run: echo "REPO_OWNER_LC=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_ENV

      # ------------------------------
      # Docker Builds
      # ------------------------------
      - name: Build Backend Image
        run: |
          docker build -t ghcr.io/${REPO_OWNER_LC}/employee-backend:${{ github.run_number }} backend

      - name: Build Frontend Image
        run: |
          docker build -t ghcr.io/${REPO_OWNER_LC}/employee-frontend:${{ github.run_number }} frontend
          
      # ------------------------------
      # Push to GHCR
      # ------------------------------
      - name: Push Images to GHCR
        run: |
          docker push ghcr.io/${REPO_OWNER_LC}/employee-backend:${{ github.run_number }}
          docker push ghcr.io/${REPO_OWNER_LC}/employee-frontend:${{ github.run_number }}



#CD starts here
      # ---------------------------
      # Trigger deployment on EC2 using SSM
      # ---------------------------
      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Get App EC2 instance id
        id: get_instance
        run: |
          INSTANCE_ID=$(aws ec2 describe-instances \
            --filters "Name=tag:Name,Values=app-server" "Name=instance-state-name,Values=running" \
            --query "Reservations[*].Instances[*].InstanceId" \
            --output text | head -n1)

          echo "instance_id=$INSTANCE_ID" >> $GITHUB_OUTPUT
          echo "Found instance: $INSTANCE_ID"

      - name: Get RDS Endpoint
        id: get_rds
        run: |
          DB_HOST=$(aws rds describe-db-instances \
            --db-instance-identifier employees-db \
            --query "DBInstances[0].Endpoint.Address" \
            --output text)

          echo "db_host=$DB_HOST" >> $GITHUB_OUTPUT
          echo "Resolved DB endpoint: $DB_HOST"

      - name: Trigger SSM Deploy Script
        if: ${{ steps.get_instance.outputs.instance_id != '' }}

        # "ghcr.io/${REPO_OWNER_LC}/employee-backend:${{ github.run_number }}"
        run: |
          BACKEND_IMAGE="ghcr.io/${REPO_OWNER_LC}/employee-backend:${{ github.run_number }}"
          FRONTEND_IMAGE="ghcr.io/${REPO_OWNER_LC}/employee-frontend:${{ github.run_number }}"
          
          aws ssm send-command \
            --instance-ids "${{ steps.get_instance.outputs.instance_id }}" \
            --document-name "AWS-RunShellScript" \
            --comment "Deploy CI build" \
            --parameters "commands=[
              \"GHCR_USER=${{ github.repository_owner }} \
                GHCR_TOKEN=${{ secrets.GHCR_PAT }} \
                DB_HOST=${{ steps.get_rds.outputs.db_host }} \
                DB_USER=attendance_user \
                DB_PASS=${{ secrets.DB_MASTER_PASSWORD }} \
                BACKEND_IMAGE=$BACKEND_IMAGE \
                FRONTEND_IMAGE=$FRONTEND_IMAGE \
                /opt/app/deploy.sh\"
            ]"